<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Messages Page</title>
	</head>
	<link
		rel="stylesheet"
		href="/styles.css"
	/>
	<body>
		<div class="mainContainer">
			<form
				action="/index"
				method="post"
			>
				<label for="password">Membership password:</label>
				<input
					type="password"
					id="password"
					name="password"
					required
				/>

				<button type="submit">Submit</button>
			</form>
		</div>
		<%- include('footer.ejs') %>
	</body>
</html>
